:root{
    color-scheme: light dark;

    --catalina: #233c67;
    --st-louis: #ccdbee;
    --san-marino: #4470ad;
    --floral-blue: #99afd7;
    --soft-navy: #6888be;


    --text-color: light-dark(black, white);

    --primary-bg: light-dark(white, #1e1d1d);
    --secondary-bg: light-dark(#e6e6e6, #252727);
    --tertiary-bg: light-dark(#cccccc, #303131);
    
    --primary-accent: light-dark(var(--catalina),var(--st-louis));
    --secondary-accent: light-dark(var(--san-marino),var(--floral-blue));
    --tertiary-accent: var(--soft-navy);
}

.lightmode{
    --text-color: black;

    --primary-bg: white;
    --secondary-bg: #e6e6e6;
    --tertiary-bg: #cccccc;

    --primary-accent: var(--catalina);
    --secondary-accent: var(--san-marino);
}

.darkmode{
    --text-color: white;

    --primary-bg: #1e1d1d;
    --secondary-bg: #252727;
    --tertiary-bg: #303131;

    --primary-accent: var(--st-louis);
    --secondary-accent: var(--floral-blue);
}

body{
    color: var(--text-color);
    background-color: var(--primary-bg);
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 0;
    transition: background-color 0.1s, color 0.1s, ;
}

p{
    font-family: "Inter";
}

a{
    color: var(--secondary-accent)
}

header{
    position: sticky;
    top: 0;
    box-shadow: 0 10px 5px var(--primary-bg);
    z-index: 20;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 0px 5px 0px 0;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

footer p{
    margin: 2px 2px 2px 10px;
    font-size: 0.7rem;
}

form{
    display: flex;
    margin: 5px;
    flex-direction: column;
    border-radius: 5px;
}

input{
    display: block;
    margin: 5px;
    min-height: 1rem;
    background-color: var(--tertiary-bg);
    border-width: 0 0 2px 0;
    border-color: var(--primary-accent);
    border-radius: inherit;
    color: var(--text-color);
    padding: 5px;
    font-size: 0.75rem;
}

input[type=checkbox]{
    accent-color: var(--secondary-accent);
    display: inline;
    width: 1rem;
}

label{
    margin-left: 10px;
}

button{
    margin: 5px;
    background-color: var(--tertiary-accent);
    border: none;
    border-radius: 0.3rem;
    padding: 5px;
    width: auto;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: var(--secondary-accent);
}

main{
    padding: 1px;
}

/* Navbar */
.navBar{
    position: sticky;
    margin: 0;
    display: flex;
    padding: 0;
    background-color: var(--secondary-bg);
    list-style-type: none;
}

.navBar li:has(h1){
    border-right: 5px solid var(--secondary-accent);
}

.navBar li img{
    display: inline-block;
    margin: 5px;
    width: 50px;
    border-radius: 5px;
    vertical-align: middle;
}

.navBar li h1{
    display: inline-block;
    margin: 2px 10px 2px 2px;
    vertical-align: middle;
}

.navBar li a{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 20px 20px;
    transition: background-color 0.3s;
}

.navBar li a.active{
    color: white;
    background-color: var(--tertiary-accent);
}

.navBar li a:hover:not(.active){
    background-color: var(--tertiary-bg);
}

.navBar li.right{
    margin-left: auto;
}

.navBar li > *.hidden{
    display: none;
}

/* content */
.content{
    background-color: var(--secondary-bg);
    padding: 5px;
    border-radius: 20px;
    margin: 20px auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}

.content:hover{
    transform: scale(101%);
}

.heading{
    background-color: var(--tertiary-bg);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.heading h2{
    margin: 0;
}

.content p{
    margin: 10px;
}

.content h3{
    margin: 10px
}

.login{
    max-width: 350px;
}

 .signup-prompt{
    font-size: 0.75rem;
 }

 .signup-prompt a{
    cursor: pointer;
 }

 .signup-prompt a:hover{
    color: var(--primary-accent);
 }

.selector{
    display: inline-flex;
    padding: 2px;
    background-color: var(--tertiary-bg);
    list-style-type: none;
    border-radius: 10px;
    margin: 5px auto;
    width: auto;
}

.selector li button{
    display: block;
    text-decoration: none;
    padding: 5px 30px;
    margin: 2px;
    border-radius: 5px;
    color: var(--text-color);
    border: 0;
    font-size: 1em;
    background-color: var(--secondary-bg);
    transition: background-color 0.3s;
    cursor: pointer;
}

.selector li button.active{
    background-color: var(--tertiary-accent);
    color: white;
    cursor: default;
}

.selector li button:hover:not(.active){
    background-color: var(--primary-bg);
}

.disable-motion:hover{
    transform: scale(100%);
}

.hide-when-logged-in{
    margin: none;
    padding: none;
}

.logged-in .hide-when-logged-in{
    display: none;
}

.show-when-logged-in{
    display: none;
    margin: none;
    padding: none;
}

.logged-in .show-when-logged-in{
    display: unset;
}

.settings-button{
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 5px auto;
}

.danger-button{
    background-color: red;
}

.danger-button:hover{
    background-color: lightcoral;
}

.loading-screen{
    padding: 10px;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 110%;
    background-color: var(--primary-bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

@keyframes loading-spin{
    0%{rotate:-360deg}
}

.loading-icon{
    width: 35px;
    animation: infinite loading-spin 1s cubic-bezier(1,-0.3,0.2,1);
}

.button-loading-icon{
    width: 20px;
    filter: saturate(0) brightness(2);
}

.hidden{
    display: none;
}

.icon{
    width: 1rem;
    margin: auto 5px;
    filter: invert();
}

.darkmode .icon .invert-icon{
    filter: invert();
}